/*CSS BY Ofelia Ferman*/
/*IMPORTED FONTS*/
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCm3FwrK3iLTcvnUwkT9nA2.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCm3FwrK3iLTcvnUwAT9nA2.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCm3FwrK3iLTcvnUwgT9nA2.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCm3FwrK3iLTcvnUwcT9nA2.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCm3FwrK3iLTcvnUwsT9nA2.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCm3FwrK3iLTcvnUwoT9nA2.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCm3FwrK3iLTcvnUwQT9g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCo3FwrK3iLTcvvYwYL8g.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCo3FwrK3iLTcvmYwYL8g.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCo3FwrK3iLTcvuYwYL8g.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCo3FwrK3iLTcvhYwYL8g.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCo3FwrK3iLTcvtYwYL8g.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCo3FwrK3iLTcvsYwYL8g.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCo3FwrK3iLTcviYwY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Kavoon';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kavoon/v25/pxiFyp4_scRYhlUIPbD7T1o.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Kavoon';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kavoon/v25/pxiFyp4_scRYhlUIM7D7.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*ROOT VARIABLES*/
:root{
    --Teal: #4CA7C0;
    --Purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow: #E9BB57;
    --Pink: #D9526F;
    --Dark-Gray: #1E1E1E;
    --White: #ffffff;
	--body-fonts: 'Inter', sans-serif;
	--title-fonts: 'Kavoon', sans-serif;

}
/*GLOBAL STYLES/*
/*Mobile*/
body{
	background: var(--Lavender);
	display: flex;
	justify-content: center;
	align-items: center;
}
header, body, footer{
	background-color: var(--Purple);
	width:100%;
	max-width: 450px;
  	text-align:center;
}

header{
  padding-top:30px;
  padding-bottom:30px;
}

header > h1{
  color: var(--White);
  font-size:3em;
  font-family: var(--title-fonts);
}
header > p{
  color:var(--White);
  font-family: var(--body-fonts);
  font-style:italic;
  font-size:.75em;
  margin:10px;
}
nav{
  background-color:var(--Yellow);
  padding:10px;
}
nav > h2{
  font-family:var(--body-fonts);
  font-style:italic;
  font-weight: bold;
  font-size:1.5em;
}
nav > ul > li{
  background-color:var(--White);
  padding: 10px;
  margin:10px;
}
li > a{
  text-decoration:none;
  font-family:var(--body-fonts);
  font-weight:bold;
  font-size:.8em;
}
#services > h2{
  color:var(--White);
  font-family:var(--title-fonts);
  padding-top:10px;
  text-align:left;
  padding-left:10px;
  font-size:2em;
}
#services > div > h3{
  color:var(--Yellow);
  font-family:var(--body-fonts);
  padding:5px;
  text-align:left;
  padding-left:10px;
  font-weight:bold;
  font-size:1.5em;
}

#services > div > div {
  background-color:var(--White);
  border-radius:10px;
  margin:10px;
  padding:20px;
  text-align:left;
}

#services > div > div > img{
  padding-bottom:10px;
}

#services > div > div > h4{
  padding-bottom:5px;
  font-family:var(--body-fonts);
  font-size:1.15em;
  font-weight:bold;
  color:var(--Purple);
}

#services > div > div > p{
  font-family:var(--body-fonts);
  word-spacing:3px;
  font-size:.8em;
}

#why{
  background-color:var(--Pink);
}

#why > h2{
  color:var(--White);
  font-family:var(--title-fonts);
  padding-top:10px;
  text-align:left;
  padding-left:10px;
  font-size:2em;
}
#why > ul{
  padding:10px;
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:1fr 1fr;
} 

#why > ul > li{
  padding:30px;
  font-family:var(--body-fonts);
  font-weight:bold;
  background-color:var(--White);
  margin:10px;
  border-radius:10px;
}

#why > ul > li:first-child{
  background-color:var(--Teal);
}

#why > ul > li:nth-child(2){
  background-color:var(--Purple);
}

#why > ul > li:nth-child(3){
  background-color:var(--Yellow);
}

#why > ul > li:last-child{
  background-color:var(--White);
}

#pricing{
  padding-bottom:10px;
}

#pricing > h2{
  color:var(--White);
  font-family:var(--title-fonts);
  padding-top:10px;
  text-align:left;
  padding-left:10px;
  font-size:2em;
}
#pricing > div > h3{
  font-family:var(--body-fonts);
  font-size:1.5em;
  font-weight:bold;
  color:var(--Yellow);
  text-align:left;
  padding-left:10px;
  padding-top:5px;
  padding-bottom:5px;
}
table, th, td{
  border:3px solid var(--Yellow);
  padding:10px;
  justify-self:center;
}
th{
  background-color:var(--Yellow);
  font-family:var(--body-fonts);
  font-weight:bold;
}
td{
  background-color:var(--White);
  font-family:var(--body-fonts);
  font-size:.8em;
}
#first{
  background-color:var(--Pink);
  padding-left:10px;
  padding-top:10px;
  padding-bottom:30px;
}
#first > h2{
  color:var(--White);
  font-family:var(--title-fonts);
  text-align:left;
  font-size:2em;
}
#first > p{
  color:var(--White);
  font-family:var(--body-fonts);
  text-align:left;
  font-size:.8em;
  word-spacing:3px;
  padding-bottom:5px;
  margin-bottom:20px;
  margin-top:8px;
}

#first > a{
  background-color:var(--White);
  border-radius:10px;
  padding-left:100px;
  padding-right:100px;
  padding-top:15px;
  padding-bottom:15px;
  font-family:var(--body-fonts);
  text-decoration:none;
  font-weight:bold;
  color:var(--Dark-Gray);
  box-shadow:5px 5px 5px var(--Dark-Gray);
}
footer{
  padding-top:30px;
  padding-bottom:30px;
  display:grid;
  grid-template-columns: 1fr 1fr;
}

footer > p, a{
  color:var(--White);
  font-family:var(--body-fonts);
  font-size:.6em;
}